# Argument Specifier

In [1]:
p = 'A'

In [2]:
print('This item is from "%s".' %p)

This item is from "A".

In [3]:
c = ['A','B']

In [4]:
print('This item is from "%s".' %c[1])

This item is from "B".

In [5]:
print('This item is from %s.' %c[0])

This item is from A.

In [6]:
q = [500,600]

In [7]:
print('This item is from %s.' %q[1])

This item is from 600.

In [8]:
print('This item is from %d.' %q[0])

This item is from 500.

In [13]:
print('Hi I am "%s". My number is "%d".' %(c[0], q[1]))

Hi I am "A". My number is "600".

In [14]:
print('Hi I am %s. My number is %d.' %(c[0], q[1]))

Hi I am A. My number is 600.

# Various python string methods

In [15]:
s='Price per unit'
s

'Price per unit'

In [17]:
s1=s.replace('Price','Cost')
s1

'Cost per unit'

In [18]:
s1.startswith('Cost')

True

In [19]:
s1.startswith('cost')

False

In [20]:
s1.endswith('Nit')

False

In [21]:
s1.split()

['Cost', 'per', 'unit']

In [22]:
len(s1.split())

3

In [23]:
s1.split(' ')

['Cost', 'per', 'unit']

In [24]:
s1.split(" ")

['Cost', 'per', 'unit']

In [25]:
s1.split('')

ValueError: empty separator

In [26]:
s1.split('per')

['Cost ', ' unit']

In [27]:
s1.split(' ',maxsplit=0)

['Cost per unit']

In [28]:
s1.split(' ',0)

['Cost per unit']

In [30]:
s1.split(' ',1)

['Cost', 'per unit']

In [31]:
s1.split(' ',3)

['Cost', 'per', 'unit']

In [32]:
s2='Mr.,John,Wilson'
s2

'Mr.,John,Wilson'

In [33]:
s2.split(',')

['Mr.', 'John', 'Wilson']

In [34]:
s2.split(',')[0]

'Mr.'

In [35]:
s2.split(',')[1]

'John'

In [36]:
s2.split(',')[2]

'Wilson'

In [37]:
s3='Mrs. Amy Moore'
s3

'Mrs. Amy Moore'

In [38]:
s3.upper()

'MRS. AMY MOORE'

In [39]:
s3.lower()

'mrs. amy moore'

In [40]:
s3.title()

'Mrs. Amy Moore'

In [41]:
s3.capitalize()

'Mrs. amy moore'

In [42]:
s3==s3.title()

True

In [43]:
'Cost per unit'.title()

'Cost Per Unit'

In [52]:
s4='  quarterly earnings report  '

In [53]:
s4.strip()

'quarterly earnings report'

In [54]:
s4.strip(' ')

'quarterly earnings report'

In [55]:
s4.strip(' r')

'quarterly earnings report'

In [56]:
s4.strip(' qt')

'uarterly earnings repor'

In [57]:
s4.strip('qt')

'  quarterly earnings report  '

In [58]:
s4.lstrip()

'quarterly earnings report  '

In [59]:
s4.rstrip()

'  quarterly earnings report'

In [61]:
s4.strip(' quarterly')

'nings repo'

In [62]:
s4.lstrip(' quarterly')

'nings report  '

In [63]:
s5=s4.strip()

In [64]:
s5

'quarterly earnings report'

In [66]:
s5.lstrip('quarterly')

' earnings report'

In [67]:
s5.rstrip('report')

'quarterly earnings '

In [68]:
s6=' %&!quarterly earnings report * '

In [69]:
s6.strip(' !@#$%^&*() ')

'quarterly earnings report'

# String Accessors

In [71]:
import pandas as pd

In [78]:
o_kpis=pd.Series(["employee satisfaction rating","employee charm rate"])

In [79]:
o_kpis

0    employee satisfaction rating
1             employee charm rate
dtype: object

In [80]:
o_kpis.lstrip('employee')

AttributeError: 'Series' object has no attribute 'lstrip'

In [81]:
o_kpis[0].lstrip('employee')

' satisfaction rating'

In [82]:
o_kpis[1].lstrip('employee')

' charm rate'

In [83]:
pd.Series([o_kpis[0].lstrip('employee'),o_kpis[1].lstrip('employee')])

0     satisfaction rating
1              charm rate
dtype: object

In [84]:
o_kpis.str

In [85]:
o_kpis.str[1]

0    m
1    m
dtype: object

In [86]:
o_kpis[1]

'employee charm rate'

In [87]:
o_kpis.str.lstrip('employee')

0     satisfaction rating
1              charm rate
dtype: object

In [88]:
t_series=pd.Series(['Text_data',34])
t_series

0    Text_data
1           34
dtype: object

In [89]:
t_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

In [90]:
t_series=pd.Series(['Text_data','34'])

In [91]:
t_series.str.lstrip('Text_')

0    data
1      34
dtype: object

In [92]:
h_prices=pd.Series(['$400,000','$500,000','$600,000'])
h_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [93]:
h_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

# .format method

In [94]:
t_hor=1,3,12
t_hor

(1, 3, 12)

In [95]:
prod=['Product A','Product B']
prod

['Product A', 'Product B']

In [96]:
'Expected sales for a period of {} month(s) for {}:'.format(12,'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [97]:
'Expected sales for a period of {} month(s) for {}:'.format(t_hor[2],prod[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [98]:
'Expected sales for a period of {} month(s) for {}:'.format(t_hor,prod)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

In [99]:
'Expected sales for a period of {0} month(s) for {1}:'.format(t_hor[2],prod[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [100]:
'Expected sales for a period of {1} month(s) for {0}:'.format(t_hor[2],prod[1])

'Expected sales for a period of Product B month(s) for 12:'

In [102]:
'Expected sales for a period of {t} month(s) for {p}:'.format(t=12,p='Product B')

'Expected sales for a period of 12 month(s) for Product B:'